.main {
  margin-inline: 10rem;
}

.bannerImg img {
  margin-top: 1rem;
  width: 100%;
  height: auto;
}
.headingWrapper {
  padding-bottom: 2rem;
  border-bottom: 1px solid #eaeaea;
  margin: 4rem 0 10px 0;
}

.headingWrapper h1 {
  font-size: 36px;
}

.productsFeed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
